/* Barra de navegacion */

.navbar {
  padding: 2rem;
  background-color: #f5f6f7;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;  
}

/*
Este código CSS define estilos para la barra de navegación de un sitio web. 
En la clase `.navbar`, se establece un padding de 2rem y un color de fondo de `#f5f6f7`.
Dentro de la clase `.navbar-collapse`, se aplican estilos de alineación y justificación para los
elementos hijos, con `align-items: center;` y `justify-content: space-between;`, respectivamente. 
Esto permite que los elementos dentro de la barra de navegación se alineen verticalmente y se distribuyan
de manera uniforme horizontalmente, creando un diseño equilibrado y estéticamente agradable.*/


/* Estilos generales */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
}

/*
Este código CSS establece estilos para las secciones y encabezados (`h1`) de un sitio web. 
En la regla para `section`, se establece que los elementos de sección se muestren como un contenedor
de columnas (`flex-direction: column;`) y se alineen y justifiquen al centro tanto horizontal como 
verticalmente (`align-items: center; justify-content: center;`). Esto permite que el contenido dentro 
de las secciones esté centrado en la página. Para los encabezados (`h1`), se define un tamaño de fuente
de 2.5 rem y una fuente de tipo 'Roboto', con una serie de fuentes de respaldo, como 'sans-serif'. Esto
garantiza que los encabezados sean legibles y estéticamente agradables en diferentes dispositivos y tamaños 
de pantalla.*/


.seccion-oscura {
  color: white;
  background-color: #1b1b32;
}
/*
Este código CSS establece estilos para una clase llamada seccion-oscura. Define que el color del texto dentro de elementos con esta clase sea blanco (`color: white;`)
y que el fondo sea un tono oscuro (background-color:#1b1b32). Esto crea un contraste adecuado 
entre el texto y el fondo, lo que facilita la legibilidad y resalta el contenido dentro de estas secciones.*/

.seccion-clara {
  color: black;
  background-color: white;
}
/*
Este fragmento de código CSS define estilos para una clase llamada `.seccion-clara`. 
Establece que el color del texto dentro de elementos con esta clase sea negro (`color: black;`) y 
que el fondo sea blanco (`background-color: white;`). Esto crea un contraste nítido y facilita la legibilidad 
del contenido dentro de estas secciones, lo que es comúnmente utilizado para resaltar información importante
en la página.*/

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Roboto', cursive;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/*Este bloque de código CSS define estilos para varios elementos de una página web. 
Para los títulos de sección, se establece un tamaño de fuente de 2 rem, un relleno 
superior e inferior de 15 píxeles y la fuente se define como 'Roboto' o una fuente en
cursiva alternativa. La clase `.seccion-descripcion` establece el tamaño de la fuente 
en 1.2 rem y el color del texto en un tono de gris. La clase `.seccion-texto` simplemente
define el tamaño de la fuente en 1.2 rem. La clase `.btn-info` ajusta el tamaño de la
fuente a 1.1 rem y agrega un margen de 20 píxeles alrededor del botón. Las clases `.
texto-negro` y `.texto-blanco` cambian el color del texto a negro y blanco, 
respectivamente. Estos estilos proporcionan consistencia visual y pueden aplicarse a
diferentes partes de la página web para crear un diseño cohesivo.


/* Seccion Hero */

.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #615151;
}
/*
Este bloque de código CSS establece estilos para una sección llamada "Hero".
La clase `.hero` define un fondo de color `#f5f6f7`, una altura mínima de 450 píxeles y 
alinea el texto al centro. La clase `.hero-principal` agrega un relleno de 3 rem al
contenido dentro de la sección. La clase `.hero-imagen-desarrollador` establece un ancho
y alto de 200 píxeles para una imagen y agrega un margen de 20 píxeles alrededor de la 
misma. Por último, la clase `.hero-principal h2` cambia el tamaño de la fuente a 1.5 rem
y establece el color del texto en un tono de gris (`#615151`). Estos estilos contribuyen a
crear una sección destacada visualmente atractiva en la página web.*/

/* Seccion producto */
.productos {
  color: black;
  background-color: #f0f0f0; /* Cambia el color de fondo a un gris más claro */
  padding: 40px 0; /* Ajusta el relleno según sea necesario */
}

.imagenes-producto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Distribuye las imágenes en columnas responsivas */
  gap: 20px; /* Espacio entre las imágenes */
  justify-content: center; /* Centra las imágenes horizontalmente */
}
.producto.rectangulo {
  margin-top: -2rem;
  background-color: rgb(141, 141, 137);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}
.imagenes-producto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.producto-imagen {
  width: 150px; /* Ajusta el tamaño según tus necesidades */
  height: 150px; /* Mantén la misma altura para todas las imágenes */
  object-fit: cover; /* Para que todas las imágenes se ajusten y no se deformen */
  margin: 5px; /* Espacio entre las imágenes */
  transition: transform 0.3s ease; /* Transición suave */
}

.producto-imagen:hover {
  transform: scale(1.2); /* Zoom al pasar el ratón */
}

.uniform-size {
  
  /* Aplicar estilos específicos si es necesario */
}
/* Seccion Proveedores */
.imagenes-Proveedores {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Distribuye las imágenes en columnas responsivas */
  gap: 20px; /* Espacio entre las imágenes */
  justify-content: center; /* Centra las imágenes horizontalmente */
}
.imagenes-Proveedores {
  display: flex; /* Muestra las imágenes en línea */
  justify-content: center; /* Centra las imágenes horizontalmente */
  flex-wrap: wrap; /* Permite que las imágenes se envuelvan en múltiples líneas si no caben en una sola línea */
}

.imagenes-Proveedores img {
  width: 200px; /* Ancho de las imágenes */
  height: auto; /* Altura automática para mantener la proporción */
  border-radius: 50%; /* Borde redondeado */
  margin: 10px; /* Espacio entre las imágenes */
}

.nav-link {
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  color: #007bff;
  text-decoration: underline;
}
/* Estilos del botón Regresar */
.btn-regresar {
  background-color: #ffffff;
  color: #111111;
  border: 2px solid white; 
  padding: 10px 20px;
  border-radius: 100px;
  cursor: pointer;
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde la parte inferior */
  right: 20px; /* Ajusta la distancia desde el lado derecho */
  z-index: 999; /* Asegura que esté encima de otros elementos */
  opacity: 1; /* Hace que el botón sea completamente visible */
  transition: opacity 0.3s, background-color 0.3s, color 0.3s; /* Agrega transiciones suaves */
}


/* Cuando el mouse está sobre el botón */
.btn-regresar:hover {
  background-color: white;
  color: #000000;
}

/* Cuando no hay interacción */
.btn-regresar:not(:hover) {
  opacity: 0.7;
}

/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -2rem;
  background-color: rgb(141, 141, 137);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: rgb(108, 158, 219);
  color: black;
}

.contacto button i {
  color: rgb(243, 245, 247);
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}
/* Estilo para el contenedor del video */
.video-container {
  max-width: 800px; /* Establece el ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor en la página */
}

/* Estilo para el video dentro del contenedor */
.video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* Proporción de aspecto 16:9 para el video */
}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Establece el ancho del video al 100% del contenedor */
  height: 100%; /* Establece la altura del video al 100% del contenedor */
}


/* Pie de pagina (footer) */

footer {
  min-height: 500px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

/* Adaptable (Responsive) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}



@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}

/*
Este bloque de código CSS utiliza consultas de medios para aplicar estilos específicos 
en función del ancho de la pantalla. Para pantallas con un ancho máximo de 400 píxeles, 
el tamaño de fuente de los elementos dentro de la clase `.overlay p` será de 18 píxeles,
mientras que el tamaño de fuente de los iconos dentro de la clase `.overlay i` será de 
40 píxeles. En dispositivos con un ancho máximo de 767 píxeles, el elemento con la clase `
.navbar-brand` se ocultará. Por último, en pantallas con un ancho mínimo de 700 píxeles, 
la imagen dentro de la clase `.hero-inferior-imagen` tendrá un ancho máximo de 600 píxeles.
Estas reglas de medios permiten ajustar el diseño de la página web para adaptarse a
 diferentes tamaños de pantalla.
